%%notification-user-attr:uid%%'s user password has been successfully reset.

Your new password is: %%notification-property:new-password%%

Please visit the following website to change your password:

Website ${OPENDJ_PASSWD_SERVER_URI}

Your new password must meet the following criteria:

${OPENDJ_PASSWD_POLICY_DES}

If you need further assistance, please contact ${OPENDJ_HELP_MAILADDR}
